body {
  margin: 0;
  padding: 0;
}

/* h1,h2,h3,h4,h5,h6{

} */

/* p{

} */

/* a{

}

ul, ol{

}

li{

} */

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(165, 233, 165);
  padding: 0 30px;
}

#navbar img {
  width: 100px;
}



footer{
  background-color: rgb(184, 173, 173);
  height: 5vh;
  text-align: center;
  
}

#footer-p{
 margin-top:0px;
 padding:22px;
}

#footer-p a{
  text-decoration: none;
  color: black;
}

main {
  height: 88vh;
  display: flex ;
}

#sidebar{
  background-color: aquamarine;
  flex-grow:2;
  text-align: center;
  line-height: 1.5;
}

#sidebar > ul{
  padding: 0;
}

#sidebar > ul > li{
  list-style: none;
}

#sidebar > ul > li > a{
  text-decoration: none;
}

/* #sidebar{
  background-color: aquamarine;
  width: 20%;
} */

/* #article {
  background-color:blueviolet;
  width:80%;
} */

 #article {
  background-color:blueviolet;
  flex-grow:8;
 }